.App {
  text-align: center;
  color     : rgb(112, 76, 182);
  background: white;
}

.button {
  margin     : .5rem 0;
  padding    : .5rem 0;
  width      : 100px;
  color      : white;
  background : rgb(112, 76, 182);
  font-weight: 600;
  font-size  : .9rem;
}

.App-header {
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
}